@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  @apply flex items-center w-screen h-screen justify-center flex-col bg-gradient-to-r from-[#051937] via-[#008793]  to-[#a8eb12] text-white;
}
.activePlayer {
  @apply border-fuchsia-600 border-2 rounded-md px-2 py-1;
}

.board {
  @apply flex flex-wrap w-[350px] h-[350px];
}

.is-disabled {
  @apply pointer-events-none  opacity-75;
}
.reset-btn {
  @apply py-2 px-4 font-medium bg-fuchsia-600 hover:bg-white hover:text-fuchsia-600 transition-all ease-linear delay-200 rounded-lg uppercase;
}
